<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shark</title>
    <link rel="stylesheet" href="/static/CSS/reset.css" />
    <link rel="stylesheet" href="/static/CSS/base.css" />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="contact">
      <div class="cardnew">
        <h2>我們的新品：</h2>
        <div class="menu">
          <!-- imgage 是要連圖片的 -->
          <div class="imgage"></div>
          <div class="imgage"></div>
          <div class="imgage"></div>
          <div class="imgage"></div>
        </div>
      </div>
      <div class="cardrecommend">
        <h2>為您推薦：</h2>
        <div class="menu">
          <!-- imgage 是要連圖片的 -->
          <div class="imgage"></div>
          <div class="imgage"></div>
          <div class="imgage"></div>
          <div class="imgage"></div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
