<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shark</title>
    <link rel="stylesheet" href="/static/CSS/menuModify.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="acard2">
      <a class="btnBack2" onclick="history.back();">返回</a>
      <div class="deviedModify">
        <div></div>
        <div>
          {% if msg %}
          <p>{{ msg }}</p>
          {% endif %}
          <form
            action="/menu/{{ menu.id }}"
            enctype="multipart/form-data"
            method="post"
          >
            {% csrf_token %} {{ form }}
            <input type="submit" value="修改" />
          </form>
        </div>
        <div></div>
      </div>
    </div>
  </body>
</html>
